body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0e1a2b;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Ensure content stacks vertically */
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  flex-grow: 1; /* Make the root container flexible */
}

.container {
  margin: auto; /* Center horizontally */
  padding: 20px;
  max-width: 800px;
  background: #1e2b3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 90%; /* Responsive width for smaller devices */
}



.container {
  text-align: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #1e2b3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.header {
  margin-bottom: 30px;
}

.header .icon {
  font-size: 50px;
  color: #69b4f1;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.header p {
  font-size: 1rem;
  color: #8fa7c1;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-box input {
  width: 400px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #1e2b3d;
  color: #8fa7c1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.search-box input::placeholder {
  color: #6e859c;
}

.search-box button {
  padding: 10px 20px;
  background-color: #3173f3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #255bb5;
}

.results {
  margin-top: 20px;
  color: #ffffff;
  text-align: left;
  font-family: monospace;
  background-color: #1e2b3d;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.results p {
  margin: 0;
  color: #f56565;
}
